.Gif{
    width: 42px;
    height: 42px;
    background-image: url(https://app.simplitpos.com/img/simplitposloader.gif);
    background-repeat: no-repeat;
    background-position: center;
    padding: 3px;
    display: inline-flex;
    position: relative;
    vertical-align: middle;
}