.logoMobil{
	width: 100%;
	max-width: 150px;
}

.simple-keyboard {
  min-width: 900px;
  max-width: 1080px;
}

.simple-numericKeyboard {
  min-width: 600px;
}

.simple-keyboard.hg-theme-default.myTheme {
  border-radius: 10px;
  margin: 10px;
  width: calc(100% - 20px);
}

.simple-keyboard.hg-theme-default{
  background-color: #848181;
  color: #FB8303;
  font-family: "Archivo";
}

.simple-keyboard.hg-layout-numeric .hg-button.hg-red {
  background: #FFFFFF;
  color: #FB8303;
  font-size: 28px;
  font-family: "Archivo";
}

.simple-keyboard.hg-layout-default .hg-button.hg-red {
  background: #FFFFFF;
  color: #FB8303;
  font-size: 24px;
  font-family: "Archivo";
}

.simple-keyboard.hg-layout-default .hg-button.hg-highlight {
  box-shadow: 0px 0px 40px 5px rgba(255, 255, 0, 0.5);
  z-index: 1;
}
