body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

.logoMobil{
    width: 100%;
    max-width: 150px;
}

a{
  cursor: pointer
}

@font-face {
  font-family: 'Archivo';
  src: local('Archivo'), url(./fonts/Archivo-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'ArchivoBold';
  src: local('ArchivoBold'), url(./fonts/Archivo-Bold.ttf) format('truetype');
}
:root {
  --bgImage: url("https://app.simplitpos.com/img/Isotipo-SimplitPOS.png"); 
  --bgImage-white: url("https://simplitpos.com/img/SimplitPOS_1White.png");
  --main-bg-color0: #FFFFFF;
  --main-bg-color1: #848181;
  --main-bg-color2: #ece8e8;
  --main-bg-color3: #ff6600;
  --main-bg-color4: #3679E9;
  --main-bg-color5: #679635;
  --main-bg-color6: rgb(247, 224, 216);
  --main-bg-color7: #F15A25;
  --main-bg-color8: #868687;
  --main-bg-color9: #F50A00;
  --main-bg-color10: rgba(0,0,0,0);
  --main-bg-color11: rgba(134, 134, 135, 0.5);
  --main-list-color0: #e1dddc;
  --main-list-color1: #e9e9e9;
  --main-list-color2: #848181;
  --main-hover-color0: #ff6600;
  --main-hover-color1: #777475;
  --main-title-color0: #2d2d2d;
  --main-text-color0: #777475;
  --main-text-color1: #FFFFFF;
  --main-text-color2: #ff6600;
  --main-text-color3: #444443;
  --main-table-color0: #31B700;
  --main-table-color1: #FF7D2A;
  --main-table-color2: #F50A00;
  --main-table-color4: #29ABE2;
  --main-table-color3: #848181;
  --main-bg-ping: #ED5500;;
}